body{
	padding:0px;
	margin: 0px;
	font-family: PingFangSC-Regular!important;
}
a{
	text-decoration:none!important;
}
#web-content{
	width: 100%;
	min-width: 1440px;
	margin: 0 auto;
}

/*图标向上旋转*/
.hover-up{transition-duration:.5s;transform:rotate(180deg); }
/*图标向下旋转*/
.hover-down{transition-duration:.5s;transform:rotate(0);}



.toTop {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 100px;
  bottom: 100px;
  background: url(../png/back_top.png) no-repeat;
  cursor: pointer;
  display: block;
  z-index: 2;
}


#title{
	width: 100%;
	height: 60px;
	line-height: 60px;
	padding-left: 40px;
	padding-right: 40px;
	background: rgba(127,74,136,1);
	box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.20);
	margin-bottom: 45px;
	z-index: 10;
}
.title-right{
	float: right;
}
.title-right ul {
	margin: 0px;
	list-style:none;
}
.title-right ul li{
	float: left;
}



.userheaderimg{
	vertical-align: middle;
}

.userheaderimg img{
	width: 36px;
	height: 36px;
	border-radius: 45px;
}
.noLS a{
	font-size: 14px;
	color: #fff;
	margin: 0 15px;
}
.title-right li img{
	position: relative;
	bottom: 2px;
}

.title-right span{
	font-size: 16px;
	color: #FFFFFF;
	margin-left: 8px;
}
.pull_up{
	position: relative;
	display: inline-block;
	margin-left: 7px;
	width: 40px;
}
.pull_up .user-option{
	position: absolute;
	display: none;
	top: 9px;
	left: -68px;
	width: 121px;
	height: 196px;
	background: url(../png/bg_center.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 40px;
	padding: 20px 26px;
	padding-top: 60px;
}
.pull_up:hover .user-option{
	display: block;
}
.pull_up .user-option img{
	display: block;
	margin-bottom: 26px;
}
.write{
	margin-left:34px;
}




#article-title{
	width: 906px;
	margin:0 auto;
}
#article-title h3{
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	color: #222629;
	letter-spacing: 0;
}
#article-title .weiShare{
	display: inline-block;
	position: relative;
	margin-left: 58px;
	bottom: 4px;
	z-index: 9999;
}
#article-title .weiShare:hover .twohorse{
	display: block;
}
#article-title .weiShare .twohorse{
	position: absolute;
	display: none;
	top: -12px;
	left: -46px;
	width: 159px;
	height: 243px;
	background: url(../png/bg_share.png);
	background-repeat: no-repeat;
	background-position: bottom;
	padding-top: 40px;
}
#article-title .weiShare .twohorse span{
	display: block;
	width: 102px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 14px;
	color: #222629;
	letter-spacing: 0;
}
#article-title .weiShare .twohorse div{
	background: #D8D8D8;
	width: 130px;
	height: 130px;
	margin: 0 auto;
}
#crumbs{
	width: 906px;
	margin: 0 auto;
	margin-bottom: 17px;
}
#crumbs div{
	display: inline-block;
}

.writer{
	height: 36px;
	line-height: 36px;
	display: inline-block;
	margin-right: 100px;
}
.writer img{
	width: 36px;
    height: 36px;
    border-radius: 45px; 
	margin-right: 11px;
}
.writer span{
	margin-right: 20px;
	font-size: 14px;
	color: #222629;
	letter-spacing: 0;
}
.writer .write-time{
	opacity: 0.7;
	font-size: 14px;
	color: #222629;
	letter-spacing: 0;
}
.watcher{
	height: 36px;
	line-height: 36px;
	display: inline-block;
}
.watcher span{
	margin-left:9px;
	opacity: 0.7;
	font-size: 14px;
	color: #222629;
	letter-spacing: 0;
}
.watcher div{
	height: 36px;
	line-height: 36px;
	display: inline-block;
	margin-right: 36px;
}
.watcher .like img{
	position: relative;
	bottom: 2px;
}
#article-info{
	width: 906px;
	margin: 0 auto;
	border-bottom: 1px solid #7F4A88;
	margin-bottom: 31px;
}
#article-info img{
	width: 100%;
	height: 100%;
	margin-bottom: 40px;
}
#article-info p{
	text-indent: 30px;
	font-size: 14px;
	color: #222629;
	letter-spacing: 0;
	line-height: 24px;
	margin-bottom: 44px;
}



#iwantsay{
	width: 906px;
	margin: 0 auto;
}
#iwantsay .iwantsay-title{
	font-size: 14px;
	color: #222629;
	letter-spacing: 0;
	margin-bottom: 28px;
}
#iwantsay textarea{
	width: 906px;
	height: 103px;
	background: rgba(127,74,136,0.2);
	border-radius: 5px;
	font-size: 14px;
	color: #222629;
	letter-spacing: 0;
	border: 0;
	box-shadow: 0;
	padding: 13px;
	margin-bottom: 22px;
}
#iwantsay button{
	width: 88px;
	height: 36px;
	letter-spacing: 5px;
	background: rgb(127,74,136);
	color: #fff;
	float: right;
	margin-bottom: 16px;
}
#iwantsay:after{
  clear: both;
  display: block;
  content: ".";
  visibility: hidden;
  overflow: hidden;
}



#comment{
	width: 906px;
	margin: 0 auto;
}
#comment .comment-title{
	font-size: 14px;
	color: #222629;
	letter-spacing: 0;
	margin-bottom: 21px;
}
#comment .comment-content{
	width: 100%;
	height: 106px;
	border-top:1px solid rgba(127,74,136,1);
	padding:21px 0; 
}
#comment  .comment-writer{
	height: 36px;
	line-height: 36px;
	display: inline-block;
	margin-right: 33px;
	position: relative;
}
#comment  .comment-writer img{
	width: 36px;
    height: 36px;
    border-radius: 45px; 
	margin-right: 11px;
}
#comment  .comment-writer span{
	font-size: 14px;
	color: #222629;
	letter-spacing: 0;
}
#comment  .comment-writer .comment-write-time{
	opacity: 0.7;
	font-size: 14px;
	color: #222629;
	letter-spacing: 0;
	position: absolute;
	left: 155px;
	top: 1px;
}
.content-crumbs{
	position: relative;
}
#comment .comment-like{
	display: inline-block;
	position: absolute;
	left: 250px;
	top: 9px;
}
#comment .comment-like img{
	vertical-align: top;
	font-size: 0;
}
#comment .comment-text{
	font-size: 14px;
	color: #222629;
	letter-spacing: 0;
	margin-left: 46px;
}


#footer{
	margin-top: 46px;
	width: 100%;
	height: 66px;
	line-height: 66px;
	border-top: 1px solid #000;
	font-size: 13px;
	text-align: center;
	color: #000;
}