body{
	padding:0px;
	margin: 0px;
	font-family: PingFangSC-Regular!important;
}
a{
	text-decoration:none!important;
}
#web-content{
	width: 100%;
	min-width: 1440px;
	margin: 0 auto;
	position: relative;
}
.toTop {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 100px;
  bottom: 100px;
  background: url(../png/back_top.png) no-repeat;
  cursor: pointer;
  display: block;
  z-index: 2;
}

/*图标向上旋转*/
.hover-up{transition-duration:.5s;transform:rotate(180deg); }
/*图标向下旋转*/
.hover-down{transition-duration:.5s;transform:rotate(0);}


#title{
	width: 100%;
	height: 60px;
	line-height: 60px;
	padding-left: 40px;
	padding-right: 40px;
	background: rgba(127,74,136,1);
	box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.20);
	margin-bottom: 45px;
	z-index: 10;
}
.title-right{
	float: right;
}
.title-right ul {
	margin: 0px;
	list-style:none;
}
.title-right ul li{
	float: left;
}
.userheaderimg{
	height: 60px;
	padding: 12px 0;
}
.userheaderimg div{
	width: 36px;
	height: 36px;
	border-radius: 45px;
}
.noLS a{
	font-size: 14px;
	color: #fff;
	margin: 0 15px;
}
.title-right li img{
	position: relative;
	bottom: 2px;
}
.title-right span{
	font-size: 16px;
	color: #FFFFFF;
	margin-left: 8px;
}
.pull_up{
	position: relative;
	display: inline-block;
	margin-left: 7px;
	width: 40px;
}
.pull_up .user-option{
	position: absolute;
	display: none;
	top: 9px;
	left: -68px;
	width: 121px;
	height: 196px;
	background: url(../png/bg_center.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 40px;
	padding: 20px 26px;
	padding-top: 60px;
}
.pull_up:hover .user-option{
	display: block;
}
.pull_up .user-option img{
	display: block;
	margin-bottom: 26px;
}
.write{
	margin-left:34px;
}

#content{
	width: 998px;
	margin: 0 auto;
	background: #FFFFFF;
	border: 1px solid #F1EAF2;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12), 0 0 6px 0 rgba(0,0,0,0.04);
	border-radius: 2px; 
	padding:0 52px;
	padding-top: 30px;
	padding-bottom: 40px;
}
.push-img{
	width: 896px;
	height: 257px;
	background: rgba(127,74,136,0.35);
	text-align: center;
	position: relative;
	padding-top: 95px;
	padding-bottom: 110px;
}
.article-img{
	width: 896px;
	height: 257px;
	position: absolute;
	top:0px;
	left: 0px;
	z-index: -1;
}
.push-img div{
	margin-top: 15px;
	font-size: 14px;
	color: #222629;
	letter-spacing: 0;
}
#content .push-img .form a input {
	display: inline-block;
	width: 896px;
	height: 257px; 
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    margin: 0px;
    padding: 0px;
    font-size: 0px;
    line-height: 0px;
    border: 0;
}


#content input{
	width: 100%;
	height: 37px;
	line-height: 37px;
	border: 0;
	border-bottom: 1px solid #BFA4C3;
	font-size: 18px;
	font-weight: bold;
	color: #6C6F71;
	letter-spacing: 0;
	margin-top: 18px;
	margin-bottom: 19px;
}
#content textarea{
	width: 100%;
	height: 382px;
	border: 1px solid #7F4A88;
	padding: 10px;
}
#save{
	width: 220px;
	margin: 0 auto;
	margin-top: 40px;
}
#save button{
	height: 36px;
	background: #c05656
}

#footer{
	margin-top: 46px;
	width: 100%;
	height: 66px;
	line-height: 66px;
	border-top: 1px solid #000;
	font-size: 13px;
	text-align: center;
	color: #000;
}