body{
	padding:0px;
	margin: 0px;
	font-family: PingFangSC-Regular!important;
}
a{
	text-decoration:none!important;
}
#web-content{
	width: 100%;
	min-width: 1440px;
	margin: 0 auto;
	position: relative;
}
.toTop {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 400px;
  bottom: 155px;
  background: url(../png/back_top.png) no-repeat;
  cursor: pointer;
  display: block;
  z-index: 2;
}
#title{
	width: 100%;
	height: 60px;
	line-height: 60px;
	padding-left: 40px;
	padding-right: 40px;
	background: rgba(127,74,136,1);
	box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.20);
	z-index: 10;
}
.title-right{
	position: relative;
	float: right;
	z-index: 9999;
}
.title-right ul li{
	display: inline-block;
}
.title-right span{
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	margin-left: 8px;
}
.pull_up{
	position: relative;
	display: inline-block;
	margin-left: 7px;
	background: url(../png/pull_up.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 40px;
}
.pull_up .user-option{
	position: absolute;
	display: none;
	top: 0px;
	left: -68px;
	width: 121px;
	height: 196px;
	background: url(../png/bg_center.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 40px;
	padding: 20px 26px;
	padding-top: 60px;
}
.pull_up:hover .user-option{
	display: block;
}
.pull_up .user-option img{
	display: block;
	margin-bottom: 26px;
}
.write{
	margin-left:34px;
}


#user-title{
	background: url(../png/image1_center.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	text-align: center;
	padding-top: 69px;
	padding-bottom: 67px;
	position: relative;
}
.userimg{
	margin: 0 auto;
	width: 91px;
	height: 91px;
	margin-bottom: 22px;
}
.usersex{
	position: absolute;
	top: 70px;
	left: 976px;
}
.username{
	display: block;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: 0;
	margin-bottom: 14px;
}
.userbottom{
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0;
	margin-bottom: 67px;
}




#user-article{
	width: 998px;
	margin:0 auto;
	margin-top: 27px;
}
.user-wenzhang{
	font-size: 16px;
	color: #222629;
	letter-spacing: 0;
	border-bottom: 1px solid #7F4A88;
	margin-bottom: 17px;
}




.article-content{
	width: 998px;
	height: 241px;
	background: #fff;
	border: 1px solid #F1EAF2;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12), 0 0 6px 0 rgba(0,0,0,0.04);
	border-radius: 2px;
	box-sizing: border-box;
	margin-bottom: 21px;
}
.article-content .imgcontent{
	width: 396px;
	height: 241px;
	background: red;
	float: left;
}
.article-info{
	width: 600px;
	height: 241px;
	float: right;
	padding:35px;
}
.article-info h4{
	font-weight: bold;
	font-size: 16px;
	color: #222629;
	letter-spacing: 0;
}
.article-info p{
	font-size: 14px;
	color: #222629;
	letter-spacing: 0;
	line-height: 24px;
	margin-bottom: 26px;
	text-indent: 30px;
	overflow: hidden;
}
.writer{
	height: 36px;
	line-height: 36px;
	display: inline-block;
}
.writer img{
	margin-right: 11px;
}
.writer span{
	margin-right: 31px;
	font-size: 14px;
	color: #222629;
	letter-spacing: 0;
}
.writer .write-time{
	opacity: 0.7;
	font-size: 14px;
	color: #222629;
	letter-spacing: 0;
}
.watcher{
	height: 36px;
	line-height: 36px;
	display: inline-block;
	float: right;
}
.watcher span{
	margin-left:9px;
	opacity: 0.7;
	font-size: 14px;
	color: #222629;
	letter-spacing: 0;
}
.watcher div{
	height: 36px;
	line-height: 36px;
	display: inline-block;
	margin-right: 36px;
}
.watcher .like img{
	position: relative;
	bottom: 2px;
}






#footer{
	margin-top: 46px;
	width: 100%;
	height: 66px;
	line-height: 66px;
	border-top: 1px solid #000;
	font-size: 13px;
	text-align: center;
	color: #000;
}